@import "tailwindcss";

/* 1rem = 16px, --spacing = 0.25 rem=4px */
@theme {
  --color-primary: #2e3a59;
}

/* Initialize */
@layer base {
  :root ::-webkit-scrollbar {
    display: none;
  }
  body {
    color: var(--color-primary);
    font-size: var(--text-base);
    background: var(--color-white);
  }
}

/* Define component */
@layer components {
  /* area chart tooltip */
  .chart-tooltip {
    @apply mx-0.5 text-xs text-white;
  }
  .chart-tooltip .point {
    @apply w-2 h-2 mr-1 inline-block rounded-full;
  }
  .chart-tooltip h4 {
    @apply mb-0.5 ml-3 text-base font-semibold;
  }

  /* candlestick chart tooltip */
  .candlestick-chart-tooltip {
    @apply flex flex-col p-2 rounded bg-black/80 text-white text-xs;
  }
  .candlestick-chart-tooltip > .price {
    @apply flex flex-row space-x-2 items-baseline;
  }
  .candlestick-chart-tooltip > .price > h4 {
    @apply text-base text-red-600;
  }

  .candlestick-chart-tooltip > .info {
    @apply flex flex-row space-x-2 items-baseline;
  }

  /* 子导航 */
  .sub-navigation[class~="active"] {
    @apply text-white bg-blue-600;
  }
}
